.add-btn{
    position: fixed;
    right: 5%;
    bottom:5%;
    background-color: #000;
    border-color: #000;
}

.add-btn:hover,.add-btn:focus{
    background-color: #000;
    box-shadow: none;
}

.food-link{
    text-decoration: none;
    color: #000;
}